<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>
    <div class="dnav">
      <h2>i</h2>
        <h2><i>Welcome Your health is Sure</i></h2>
        <h3>Book Appointment</h3>
    </div> 
      <div>
        <img>
      </div>
      <div class="mytext">
        <h1>Room Service</h1>
        <p>
            Your diet is an important part of your treatment.
            Please discuss any dietary requirements with the in-house Dieticians, your Nurse, or your Physician.
        </p>
        <p>Meal service schedule (for in-patients only)

            Breakfast: 7:30 am – 8:30 am
            Lunch: 1:00 pm – 2:00 pm
            Dinner: 6:00 pm – 7:00 pm
      </p>
      </div>
</body>
</html>