<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    
        <div class="homenav">
               <h1><i>Health Clinic</i></h1>
                <h4 style="color: azure;">Home</h4>
                <h4>About Us</h4>
                <h4>Our Facilities</h4>
                <a href="/signup"><button type="submit" name="button" id="s_b">Register</button></a>
        </div>
    <div class="serve">
      <h2 style="color: black">Our Services</h2>
      <ul>
        <li>Radiology</li>
        <li>Critical Care</li>
        <li>Paediatrics</li>
        <li>Cancer Treatment</li>
      </ul>
    </div>
    <div class="our">
      <h2 style="text-align: center;">Our Partners</h2>
      <img src="image copy.png" alt="Example Image">
    </div>
</body>
</html>