<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/LoginStyles.css">
</head>
<body> 

      <div class="overallSignin">

      <form action="/login" method="post">
          <h1 class="welcome">Welcome Back</h1>
          <h2 style="margin-top: -10px;"  class="welcome">login</h2>
          <p class="areyou">
          Are you new here?
          <span class="span">
            <a href="/signup" id="s_b">Signup</a>

          </span>
        </p>
          <div class="labelInput">
  
            <label for="emailAddress">
              <input
                type="email"
                name="email"
                placeholder="Enter email"
                id="emailAddress"
                required
                
              />
            </label>
            <label for="sipazword">
              <input
                type="password"
                name="password"
                placeholder="Enter password"
                id="sipazword"
                required
              />
            </label>
          </div>
          <div class="signinLabelButton">
            <label>
              <button type="submit" class="btn btn-primary">Sign in</button>
            </label>
          </div>
        </form>
    
      </div>

</body>
</html>